
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-y:hidden;
    overflow-x:hidden;
}


section {
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   justify-content: space-between;
   align-items: center;
   background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo
{
    position: relative;
    max-width: 80px;
    
}

header ul{
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
display: inline-block;
color: #333;
font-weight: 400;
margin-left: 40px;
text-decoration: none;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span {
    color: #387dab;
    font-size: 1.2em;
    font-weight: 1000;
    font-display: bold;
}

.content .textBox p {
    color: #333;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: red;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}

.content .imgBox img
{
    max-width: 340px;
}

.sci {
position: absolute;
top: 50%;
right: 30px;
transform: translateY(-50%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4a47a3;
    clip-path: circle(600px at right 800px);
}
.rodape {
    grid-area: f / f / f / f;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


@media (max-width:1366px)
{
    body {
        zoom: 0.80 ;/* Coloca o zoom em 200% */
        overflow-y:hidden;
    overflow-x:hidden;
    }
    header {
        padding: 20px;
    }

}